<div class="row mt-5">
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">See All Users</h5>
          <p class="card-text">Get a list of all registered users</p>
          <a class="btn btn-success" routerLink="/adminusers" routerLinkActive="active">View</a>
        </div>
        <div class="card-footer text-muted">
          No. of users: Count:
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Create Channel</h5>
            <p class="card-text">Create channel with defined name & id</p>
            <a class="btn btn-success" routerLink="/adminchannel" routerLinkActive="active">Create</a>
          </div>
          <div class="card-footer text-muted">
            No. of channels: 
          </div>
        </div>
      </div>
  </div>