
 <!-- 
<form #CKEditorArea="ngForm" *ngIf="submitted && global">
   May be For Editor purpose 
    <app-editor  [channelId]="channelId" (ready)="onEditorReady($event)"></app-editor>
</form>
-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script></script>
<form #navForm="ngForm" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Editor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       <!--  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/channels" routerLinkActive="active">Channels</a>
        </li>
        -->
      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>    
       <!--  <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"> <div id="namefield" *ngFor="let user of user"> {{ user }} </div> </a>  -->
       <!--  <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/adminlogin" routerLinkActive="active">Admin Login</a>    -->

    </ul>
    </div>
  </nav>    
  <div class="container">
    <router-outlet></router-outlet>            
  </div>
</form>
<!-- <app-editor  [channelId]="channelId" (ready)="onEditorReady($event)"></app-editor> -->