<div class="row mt-5">
  <!-- <img src="https://image.freepik.com/free-vector/abstract-shiny-lines-white-gray-background_1017-25097.jpg"> 
    <div class="col-md-4 mb-3" *ngFor="let element of homepg">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{element.name}}</h5>
          <p class="card-text">{{element.description}}</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
        <div class="card-footer text-muted">
          {{element.date | date:'shortDate'}}
        </div>
      </div>
    </div> -->
    <style>
      h1 {text-align: center;}
     
      </style>
      <h1>Welcome...! </h1>
    
     
  </div>